@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
body {
    margin: 0;
    font-family: 'Jua', sans-serif;
}
.container {
    width: 100%;
    height: 100%;
    background-color: #BE98EE;
    margin: 0 auto;
    border-radius: 25px;
    
}
h1 {
    color: #6F01FB;
    /* font-family: ; */
    font-size: 60px;
    text-align: center;
    line-height: 120px;
    margin: 0;
    border-bottom: 1px solid #949494;
}
.wrap {
    display: flex;
    position: relative;
}
.inner {
    width: 70%;
    background-color: #E4CEFF;
    border-radius: 25px;
    margin: 60px 0 0 2%;
    position: relative;
    box-shadow: 10px 5px 15px 0px gray inset;
}
.foods {
    display: flex;
    /* border: 1px solid red; */
}
.foods1, .foods2, .foods3 {
    position: absolute;
    width: 100%;
}
.foods1 {
    top:6%;
    height: 24%;
}
.foods2 {
    top: 36%;
    height: 24%;
}
.foods3 {
    top: 66%;
    height: 24%;
}
.food {
    width: calc(100% / 3);
    margin: 15px 25px;
    background-size: 53%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.burger {
    background-image: url(images/burger.png);
}
.pizza {
    background-image: url(images/pizza.png);
}
.hotdog {
    background-image: url(images/hotdog.png);
}
.taco {
    background-image: url(images/taco.png);
}
.fries {
    background-image: url(images/fries.png);
}
.chicken {
    background-image: url(images/chicken.png);
}
.sandwich {
    background-image: url(images/sandwich.png);
}
.popcorn {
    background-image: url(images/popcorn.png);
}
.hamburger {
    background-image: url(images/hamburger.png);
}
.barWrap {
    position: absolute;
    width: 90%;
    height: 40px;
    /* border: 1px solid red; */
    left: 5%;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 5px 3px 10px gray;
    padding: 5px 0 7px;
}
.br1 {
    top: 30%;
}
.br2 {
    top: 60%;
}
.br3 {
    top: 90%;
}
.btns {
    display: flex;
    height: 100%;
}
.btn {
    display: block;
    margin: 0 auto;
    padding: 0 5%;
    border: none;
    border-radius: 15px;
    background-color: pink;
    box-shadow: 5px 3px 6px gray;
    color: #000;
    font-size: 20px;
    font-family: 'Jua', sans-serif;
    cursor: pointer;
}
.btn:hover {
    background-color: yellowgreen;
    color: #fff;
}
.actionWrap {
    width: 28%;
}
.action {
    width: 90%;
    margin: 60px auto;
    border-radius: 25px;
    position: relative;
}
.cash, .money {
    display: block; 
}
.cashWrap {
    width: 60%;
    margin: 0 auto;
    position: relative;
    display: flex;
    margin-top: 50%;
    cursor: pointer;
}
.cash {
    width: 100%;
}
.cashT {
    position: absolute;
    width: 100%;
    margin-top: 15%;
    text-align: center;
    font-size: 42px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6F01FB;
}
.cashWrap:hover .cashT {
    color: yellowgreen;
}
.moneyWrap {
    width: 60%;
    margin: 0 auto;
    border-radius: 10px;
    position: relative;
    display: flex;
    padding-top: 10%;
}
.money {
    /* padding-top: 10%; */
    cursor: auto;
    width: 100%;
}
.won {
    position: absolute;
    margin: 15% 0;
    width: 100%;
    text-align: center;
    font-size: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: yellow;
}
.circles {
    display: flex;
    margin-top: 10%;
}
.coinWrap, .spinWrap {
    width: 25%;
    margin: 0 auto;
}
.coinWrap {
    cursor: pointer;
}
.coin {
    width: 100%;
    margin: 10px 0 0 0;
}
.coinT {
    width: 60%;
    padding: 10% 0 6% 0;
    display: block;
    margin: 0 auto;
}
.arrow {
    width: 100%;
}
.spin {
    width: 100%;
}
.change {
    width: 20%;
    margin: 95px 0 0 63%;
}
.output {
    width: 70%;
    margin: 80px 0 150px 2%;
}

/* mediaQuery */
@media (max-width: 1350px){
    .cashT, .won {
        font-size: 36px;
    }
}
@media (max-width: 1200px){
    .cashT, .won {
        font-size: 32px;
    }
    .barWrap {
        height: 30px;
    }
    .br1 {
        top: 24%;
    }
    .br2 {
        top: 54%;
    }
    .br3 {
        top: 84%;
    }
    .foods1 {
        top:0;
        height: 24%;
    }
    .foods2 {
        top: 30%;
        height: 24%;
    }
    .foods3 {
        top: 60%;
        height: 24%;
    }
}
@media (max-width: 1100px){
    .cashT, .won {
        font-size: 28px;
    }
    .barWrap {
        height: 26px;
    }
    .btn {
        font-size: 18px;
    }
}
@media (max-width: 940px){
    .cashT, .won {
        font-size: 24px;
    }
    .barWrap {
        height: 20px;
    }
    .btn {
        font-size: 16px;
    }
}
@media (max-width: 770px){
    h1 {
        font-size: 50px;
    }
    .action {
        margin-top: 100%;
    }
    .cashT, .won {
        font-size: 20px;
    }
    .food {
        background-size: 62%;
    }
}
@media (max-width: 670px){
    h1 {
        font-size: 46px;
    }
    .cashT, .won {
        font-size: 18px;
    }
    .food {
        background-size: 66%;
    }
    .barWrap {
        height: 18px;
    }
    .output {
        margin: 100px 0 110px 2%;
    }
}
@media (max-width: 590px){
    .cashT, .won {
        font-size: 16px;
    }
    .food {
        background-size: 70%;
    }
    .barWrap {
        height: 12px;
    }
    .output {
        margin: 60px 0 80px 2%;
    }
    .btn {
        font-size: 12px;
    }
}
@media (max-width: 540px){
    h1 {
        font-size: 36px;
    }
    .cashWrap, .moneyWrap {
        width: 70%;
    }
    .cashT, .won {
        font-size: 18px;
    }
    .coinWrap, .spinWrap {
        width: 35%;
        margin: 0 auto;
    } 
    .food {
        background-size: 68%;
        margin: 10px 15px;
    }
    .barWrap {
        height: 12px;
    }
}
@media (max-width: 440px){
    h1 {
        font-size: 32px;
    }
    .cashT, .won {
        font-size: 12px;
    }
    .food {
        background-size: 78%;
        margin: 6px 15px;
    }
}
@media (max-width: 360px){
    h1 {
        font-size: 28px;
    }
    .action {
        margin-top: 160%;
    }
    .cashWrap, .moneyWrap {
        width: 80%;
    }
    .cashT, .won {
        font-size: 16px;
        margin-top: 10%;
    }
    .coinWrap, .spinWrap {
        width: 35%;
        margin: 0 auto;
    }
    .food {
        background-size: 96%;
        margin: 0px 15px;
    }
}
@media (max-width: 340px){
    h1 {
        font-size: 26px;
    }
    .action {
        margin-top: 180%;
    }
    .moneyWrap {
        width: 80%;
    }
    .food {
        background-size: 100%;
    }
    .btn {
        font-size: 10px;
    }
}